<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title><%= titleHead %></title>
        <link rel="stylesheet" href="/stylesheets/mini-default.css">
        <link rel="stylesheet" href="/stylesheets/theme.css">
    </head>
    <body>