<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <header>
                <a href="" class="logo">NodeAuth</a>
                <a href="/" class="button">
                    <span class="icon-home"></span>
                </a>
                <a href="/login" class="button">
                    Login
                    <span class="icon-user"></span>
                </a>
            </header>
        </div>
    </div>
</div>
